# --- SOURCE CODE & CONFIG (DIIZINKAN KARENA REPO PRIVATE) ---
node_modules/

# --- IDE & SYSTEM ---
.gemini/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# --- DISTRIBUTION ---
# Folder dist juga tetap diikutkan
dist/
